*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgba(20, 25, 34, 1);
    color: rgba(124, 126, 132, 1);
}

/*UTILITIES*/
.flex{
    display: flex;
}


/*DEFAULT*/


/*MAIN SECTION*/

    /*Menue*/
#menu{
    width: 20vw;
    height: 100vh;
    background-color: black;
}
    /*Main Content*/
#main-content{
    width: calc(100% - 200px);
}

header{
    background-color: rgba(0,0,0,0.4);
    position: fixed;
}


/*FOOTER SECTION*/
footer{
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(40, 40, 40, 1);
}