*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgba(20, 25, 34, 1);
    color: rgba(124, 126, 132, 1);
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
}

/*UTILITIES*/
.flex{
    display: flex;
}

.flex-wrap{
    flex-direction: row;
    flex-wrap: wrap;
}

.right{
    justify-content: flex-end;
}

.flex-space{
    justify-content: space-between;
}


.flex-direction-col{
    flex-direction: column;
}

.bottom{
    justify-content: flex-end;
}

ul{
    list-style: none;
}

li{
    padding-top: 15px;
}

li:hover{
    color: white;
}

#home:hover{
    color: white;
}

h1,
h2,
h3,
h4{
    color: white;
}

h1{
    font-size: 30px;
}

hr{
    border-color: rgba(124, 126, 132, 1);
}

    /*Margin*/
.mrg-lft-15{
    margin-left: 15px;
}

.mrg-rgt-35{
    margin-right: 40px;
}

.mrg-btt-10{
    margin-bottom: 10px;
}

.mrg-tp-20{
    margin-top: 20px;
}

.mrg-tp-10{
    margin-top: 10px;
}

.mrg-btt-30{
    margin-bottom: 30px;
}

.mrg-btt-20{
    margin-bottom: 20px;
}

.pd-tp-10{
    padding-top: 10px;
}

.pd-tp-20{
    padding-top: 20px;
}

i{
    margin-right: 5px;
}

button{
    background-color: transparent;
    border-style: solid;
    border-color: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border-width: 1px;
    color: white;
    padding: 10px 30px;
    width: 250px;
}

/*DEFAULT*/
.default{
    width: 100%;
    height: 50px;
    background-color: rgba(211, 79, 79, 0.5);
}

/*MAIN SECTION*/


    /*Menue*/
#menu{
    width: 190px;
    height: calc(100% - 85px);
    background-color: black;
    position: fixed;
    overflow-y: auto;
    min-height: 615px;
}

.logo-bar{
    width: 70%;
    height: auto;
    padding: 20px 0 20px 15px;
}

        /*Nav Section*/
#menu nav{
    margin-bottom: 30px;
}

#menu nav li i{
    font-size: 20px;
}

#home{
    color: rgb(190, 189, 189);
}

#home::before{
    content: attr("");
}

        /*Playlist Section*/
.play-box i{
    font-size: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

.play-box ul span{
    font-size: 19px;
}

#menu .bottom{
    width: 80%;
    margin: auto;
    position: absolute;
    bottom: 5px;
    left: 15px;
}

#menu .bottom span{
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#menu .bottom span:first-child:hover{
    color: white;
}

#menu .bottom .nickname{
    font-size: 14px;
    color: white;
    font-weight: 700;
}


.bottom .nickname i{
    font-size: 18px;
}

    /*Main Content*/
#main-content{
    width: calc(100% - 190px);
    margin-left: 190px;
}

.container{
    width: 100%;
    overflow-y: auto;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

     /*Header Section*/
button:hover{
    font-size: 16px;
    width: 252px;
}

header{
    width: calc(100% - 190px);
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    padding:20px 5px 20px 5px;
    right: 0;
    z-index: 1;
    max-height: 77px;
}

/*MAIN NAVIGATION*/
.navigation{
    width: 51%;
    margin: 0 auto 40px;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation ul{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation ul li{
    margin-left: 20px;
    font-size: 14px;
}
     /*Card Section*/

.card{
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
}

.box-card{
    width: 100%;
    margin-bottom: 10px;
}

.img-box{
    position: relative;
    width: 100%;
}

.img-box img{
    width: 100%;
    height: auto;
}

.img-box .hover-play{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.img-box:hover  .hover-play{ 
    display: block;
}

.hover-play i{
    font-size: 60px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) ;
}

.card h3{
    margin-top: 15px;
    margin-bottom: 10px;
}

.card span{
    font-size: 13px;
}

.end-card .img-box img,.end{
    border-radius: 50%;
}

/*FOOTER SECTION*/
footer{
    width: 100vw;
    height: 85px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(40, 40, 40, 1);
}

footer .flex{
    align-items: center;
}
    /*Left Section*/
.xs-img-box{
    width: 50px;
    height: 50px;
    vertical-align: center;
}

.xs-img-box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brano span{
    display: block;
    font-size: 12px;
}

.brano span:first-child{
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.growth i:hover {
    color: white;
}

     /*Center Section*/
.play-section{
    font-size: 25px;
    color: white;
}

.play-section{
    width: 250px;
    max-height: 24px;
}

.hover:hover{
    font-size: 27px;
}

.progression-bar{
    width: 400px;
    height: 3px;
    margin: 0 30px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: rgba(124, 126, 132, 1);
}

.progression{
    width: 20%;
    height: 100%;
    background-color: rgb(202, 204, 211);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.progression-bar:hover .progression{
    background-color: rgba(173, 255, 47, 1);
}

.progress-section span{
    font-size: 10px;
} 

.progression::after{
    content:"";
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    overflow: visible;
    z-index: 1;
}

     /*Right Section*/
     .right-section i{
         margin-right: 20px;
     }

     .small-progression-bar{
        width: 100px;
        height: 3px;
        margin: 0 30px 0 0;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        background-color: rgba(124, 126, 132, 1);
    }
    
    .small-progression{
        width: 20%;
        height: 100%;
        background-color: rgb(202, 204, 211);
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
    }

    .small-progression-bar:hover .small-progression{
        background-color: rgba(173, 255, 47, 1);
    }

/*RESPONSIVE*/

@media screen and (min-width:699px) and (max-width:1100px){
    .card{
        width: calc(100% / 4 - 15px);
    }
}

@media screen and (min-width:599px) and (max-width:699px) {
    .card{
        width: calc(100% / 2 - 15px);
    }
}

@media screen and (min-width:400px) and (max-width:599px) {
    .card{
        width: calc(100% / 2 - 15px);
    }
   
}

@media screen and (min-width:400px) and (max-width:599px) {
    .card{
        width: calc(100% / 1 - 15px);
    }

}