*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgba(20, 25, 34, 1);
    color: rgba(124, 126, 132, 1);
    font-size: 15px;
}

/*UTILITIES*/
.flex{
    display: flex;
}

.flex-wrap{
    flex-direction: row;
    flex-wrap: wrap;
}

.right{
    justify-content: flex-end;
}

ul{
    list-style: none;
}

li{
    padding-top: 15px;
}

h1,
h2,
h3,
h4{
    color: white;
}

h1{
    font-size: 30px;
}

    /*Margin*/
.mrg-lft-15{
    margin-left: 15px;
}

.mrg-btt-10{
    margin-bottom: 10px;
}

.mrg-tp-20{
    margin-top: 20px;
}

.mrg-btt-30{
    margin-bottom: 30px;
}

.mrg-btt-20{
    margin-bottom: 20px;
}

button{
    background-color: transparent;
    border-style: solid;
    border-color: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border-width: 1px;
    color: white;
    padding: 10px 30px;
    margin: 20px 5px 20px 5px;
    width: 250px;
}


/*DEFAULT*/
.default{
    width: 100%;
    height: 50px;
    background-color: rgba(211, 79, 79, 0.5);
}

/*MAIN SECTION*/


    /*Menue*/
#menu{
    width: 190px;
    height: calc(100% - 8vh);
    background-color: black;
    position: fixed;
    overflow-y: auto;
}

.logo-bar{
    width: 70%;
    height: auto;
    padding: 20px 0 20px 15px;
}

        /*Nav Section*/
#menu nav{
    margin-bottom: 30px;
}

#menu nav li i{
    font-size: 20px;
    margin-right: 5px;
}

        /*Playlist Box*/
.play-box i{
    font-size: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

.play-box ul span{
    font-size: 19px;
}

    /*Main Content*/
#main-content{
    width: calc(100% - 190px);
    margin-left: 190px;
}

.container{
    width: 100%;
    overflow-y: auto;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

header{
    width: calc(100% - 190px);
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    right: 0;
    z-index: 1;
}

/*MAIN NAVIGATION*/
.navigation{
    width: 51%;
    margin: 0 auto 40px;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation ul{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation ul li{
    margin-left: 20px;
    font-size: 14px;
}
     /*Card Section*/

.card{
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
}

.box-card{
    width: 100%;
    margin-bottom: 10px;
}

.img-box{
    position: relative;
    width: 100%;
}

.img-box img{
    width: 100%;
    height: auto;
}

.img-box .hover-play{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.img-box:hover  .hover-play{ 
    display: block;
}

.hover-play i{
    font-size: 60px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) ;
}

.card h3{
    margin-top: 15px;
    margin-bottom: 10px;
}

.card span{
    font-size: 13px;
}

.end-card .img-box img,.end{
    border-radius: 50%;
}

/*FOOTER SECTION*/
footer{
    width: 100vw;
    height: 8vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(40, 40, 40, 1);
    flex-shrink: 0;
}